body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
section{
  height: 500px;
  padding-bottom: 150px;
}
h1{
  font-size: 50px;
}
h1 span{
  color: orange;
}
.top-benar{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width{
  float: left;
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img{
  width: 100%;
}
.anchor-button{
  background: linear-gradient(45deg, lightsalmon, tomato);
  color: white;
  padding: 10px 40px;
  border-radius: 5px ;
  font-weight: 700px;
  text-decoration: none;
}
h2{
  font-size: 40px;
}
.dream-area{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-area h3{
  color: orange;
}
.experience-area div{
  box-shadow: 5px 7px 40px gray;
  height: 80%;
}
#full-stack-devloper{
  border-left: 7px solid tomato;
}
#baby-developer{
  border-left: 7px solid blue;
}
footer p{
  text-align: center;
}














































































































